body{
    font-family: "Poppins-Regular";
    font-weight: 500;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('./fonts/Poppins-Regular.ttf');

	
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('./fonts/Poppins-Medium.ttf');

	
}
@font-face {
	font-family: 'Playfair-Display-italic';
	src:url('./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')

	
}
.nav-menus .nav-link{
    color: #AD543B;
}
.nav-menus .dropdown-item{
    color: #AD543B;
}
.nav-menus{
    column-gap: 15px;
}
.nav-buttons{
    gap: 10px;
    align-items: center;
}
.nav-buttons .search-btn{
    border: 1px solid #AD543B;
    border-radius: 50%;
    padding: 14px;
}
.nav-buttons .log-in-btn{
    border: 1px solid #AD543B;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
    text-decoration: none;
    color: #AD543B;
}
.nav-buttons .cart-btn{
    border: 1px solid #AD543B;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
    text-decoration: none;
    color: #AD543B;
    gap: 10px;
    display: flex;
    align-items: center;
}
.banner-sec {
    position: relative;
}
.banner-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FDFBFF;
}
.bredcrum{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.banner-text h1{
    font-size: 83px;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.phil-head p.phil-top-text{
    font-size: 16px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.phil-head p.phil-content-text{
    font-size: 16px;
    color: #AD543B;
    max-width: 695px;
    margin: auto;
    padding: 30px 0;
}
.phil-head h2{
    font-size: 52px;
    color: #AD543B;
    font-weight: 400;
}
.phil-head h2 .inner-heading{
    color: #F3BD49;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.we-believe-content h2{
    color: #AD543B;
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-size: 54px;
    font-weight: 400;
}
.we-believe-content p{
    color: #AD543B;
    font-size: 16px;
    font-weight: 400;
}
.meet-heading{
    color: #AD543B;
    font-size: 80px;
    font-weight: 400;
}
.meet-heading .inner-heading{
    color: #F3BD49;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.Christina-content h2{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
}
.two-color-content{
    color: #AD543B;
    font-size: 24px;
}
.two-color-content .inner-content{
    font-size: 24px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Christina-inner-text{
    color: #AD543B;
    font-size: 20px;
    font-weight: 400;
}
.african-beauty-heading{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
}
.african-beauty-heading .inner-heading{
    color: #F3BD49;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
.Christina-text{
    font-size: 20px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-story-heading{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
}
.story-col{
    background: #F6F3FA;
    padding: 50px;
}
.explor-btn{
    background: #B39EEF;
    color: #FDFBFF;
    padding: 16px 40px 16px 40px;
    text-decoration: none;
}
.our-approach-top-text{
    font-size: 20px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.the54{
    background: #CBC9EF;
    height: 100%;
    padding: 30px;
}
.the54 h3{
    font-size: 54px;
    font-weight: 400;
    font-family: "Playfair Display", serif;
    font-style: italic;
    color: #765DBA;
}
.the54 p{
    color: #765DBA;
    font-size: 20px;
}
.video-sec{
    width: 100%;
    height: 100%;
}
.at-heading{
    color: #AD543B;
    font-size: 42px;
    font-weight: 400;
}
.at-heading .inner-content{
    color: #F3BD49;
    font-family: "Playfair Display", serif;
    font-style: italic;
}
section, footer {
    background: #FDFBFF;
}
.sticky-sec{
    position: sticky;
    bottom: 0;
    z-index: -1;
}
.be-text{
    color: #AD543B;
    font-size: 20px;
    font-weight: 400;
}
.footer-content{
    background: url('./images/footer-bg.png') no-repeat;
    background-color: #CBC9EF;
}
.footer-text{
    color: #765DBA;
    font-size: 24px;
    text-align: center;
}
.footer-title{
    color: #765DBA;
    font-size: 20px;
}
.footer-menu{
    color: #765DBA;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 3px;
}
.footer-menu-link{
    color: #765DBA;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
.learn-btn{
    padding: 15px 20px;
    color: #AD543B;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #AD543B;
    margin-top: 20px;
}
.video_section{
    position: relative;
}
.play_btn{
   
   position: absolute;
   top: 50%;
   z-index: 999;
   left: 50%;
   transform: translate(-50% ,-50%);


}
.play_btn img{
   width:80%;

}




@media (max-width: 767px){
    .banner-text {
        top: 50%;
        width: 100%;
    }
    .banner-text h1{
        font-size: 22px;
    }
    .banner-text p{
        font-size: 14px;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .phil-head h2 {
        font-size: 26px;
    }
    .meet-heading {
        font-size: 40px;
    }
    .Christina-content h2 {
        font-size: 30px;
    }
    .two-color-content {
        font-size: 22px;
    }
    .african-beauty-heading {
        font-size: 28px;
    }
    .story-col {
        padding: 20px;
    }
    .our-story-heading {
        font-size: 35px;
    }
    .at-heading {
        font-size: 28px;
    }
    .the54 h3 {
        font-size: 32px;
    }
    .footer-text {
        font-size: 20px;
    }
    .footer-content img{
        width: 100%;
        margin-bottom: 12px;
    }
    .footer-icon{
        width: auto!important;
    }
}