body{
    font-family: "Poppins-Regular";
    font-weight: 500;
}
@font-face {
	font-family: 'Poppins-Regular';
	src: url('./fonts/Poppins-Regular.ttf');

	
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('./fonts/Poppins-Medium.ttf');

	
}
@font-face {
	font-family: 'Playfair-Display-italic';
	src:url('./fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')

	
}
.nav-menus .nav-link{
    color: #AD543B;
}
.nav-menus .dropdown-item{
    color: #AD543B;
}
.nav-menus{
    column-gap: 40px;
    flex-direction: row;
}
.nav-buttons{
    gap: 10px;
    align-items: center;
    flex-direction: row;
}
.nav-buttons .search-btn{
    border: 1px solid #AD543B;
    border-radius: 50%;
    padding: 14px;
}
.nav-buttons .log-in-btn{
    border: 1px solid #AD543B;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
    text-decoration: none;
    color: #AD543B;
}
.nav-buttons .cart-btn{
    border: 1px solid #AD543B;
    padding: 10px 14px 10px 14px;
    border-radius: 40px;
    text-decoration: none;
    color: #AD543B;
    gap: 10px;
    display: flex;
    align-items: center;
}
.navbar-nav .dropdown-menu {
    padding: 20px;
    border-top: 1px solid #B8604733;
    border-radius: 0;
}
.nav-menus .dropdown-menu li:not(:last-child) {
    margin-bottom: 10px;
}
.dropdown {
    position: initial;
}
.mega-menu{
    width: 100%;
    top: 20px !important;
}
.mega-menu-heading{
    color: #AD543B;
    font-weight: 600;
    text-transform: uppercase;
}
.mega-menu p a{
    text-decoration: none;
    font-weight: 500;
}
.product-info{
    display: flex;
    justify-content: space-between;
    padding: 5px 15px;
}
.product-info img{
    width: 100%;
}
.product-wrap .card{
    border: none;
}
.product-wrap a{
    text-decoration: none;
}
.product-wrap .card-body{
    padding: 0;
}
.product-info .product-title{
    color: #AD543B;
    font-size: 18px;
}
.product-info .product-price{
    color: #CA8D00;
    font-size: 18px;
}
.bredcrum{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}
.light-bredcrum{
    opacity: 0.5;
}
.banner-sec {
    position: relative;
}
.banner-text{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #FDFBFF;
    width: 100%;
}
.banner-text h1{
    font-size: 83px;
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.banner-text p{
    max-width: 727px;
    margin: auto;
}
.text-indent{
    text-indent: 50px;
}
.marquee{
    background: #F6F3FA;
}
.slider-wrap{
    display: flex;
    column-gap: 50px;
    margin-bottom: 0;
    padding: 10px 0;
}
.slider-wrap span{
    color: #765DBA;
    font-size: 18px;
}
.phil-head p.phil-top-text{
    font-size: 16px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.phil-head p.phil-content-text{
    font-size: 16px;
    color: #AD543B;
    max-width: 695px;
    margin: auto;
    padding: 30px 0;
}
.phil-head h2{
    font-size: 52px;
    color: #AD543B;
    font-weight: 400;
}
.phil-head h2 .inner-heading{
    color: #F3BD49;
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.we-believe-content h2{
    color: #AD543B;
    font-family: "Playfair-Display-italic";
    font-style: italic;
    font-size: 54px;
    font-weight: 400;
}
.we-believe-content p{
    color: #AD543B;
    font-size: 16px;
    font-weight: 400;
}
.meet-heading{
    color: #AD543B;
    font-size: 80px;
    font-weight: 400;
}
.meet-heading .inner-heading{
    color: #F3BD49;
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.Christina-content h2{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
}
.two-color-content{
    color: #AD543B;
    font-size: 24px;
}
.two-color-content .inner-content{
    font-size: 24px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.Christina-inner-text{
    color: #AD543B;
    font-size: 20px;
    font-weight: 400;
}
.african-beauty-heading{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
    max-width: 1100px;
    margin: auto;
    padding: 20px 0;
}
.african-beauty-heading .inner-heading{
    color: #F3BD49;
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.Christina-text{
    font-size: 20px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.our-story-heading{
    color: #AD543B;
    font-size: 52px;
    font-weight: 400;
}
.our-story-heading .inner-heading{
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.story-col{
    background: #F6F3FA;
    padding: 50px;
}
.explor-btn{
    background: #B39EEF;
    color: #FDFBFF;
    padding: 16px 40px 16px 40px;
    text-decoration: none;
}
.our-approach-top-text{
    font-size: 20px;
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.the54{
    background: #CBC9EF;
    height: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.the54 h3{
    font-size: 54px;
    font-weight: 400;
    font-family: "Playfair-Display-italic";
    font-style: italic;
    color: #765DBA;
}
.the54 p{
    color: #765DBA;
    font-size: 20px;
}
.video-sec{
    width: 100%;
    height: 100%;
}
.at-heading{
    color: #AD543B;
    font-size: 42px;
    font-weight: 400;
}
.at-heading .inner-content{
    color: #F3BD49;
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
section, footer {
    background: #FDFBFF;
}
.sticky-sec{
    position: sticky;
    bottom: -280px;
    z-index: -1;
    padding-bottom: 20px;
}
.be-text{
    color: #AD543B;
    font-size: 20px;
    font-weight: 400;
}
.footer-content{
    background: url('./images/footer-bg.png') no-repeat;
    background-color: #CBC9EF;
    margin-top: -1px;
}
.footer-text{
    color: #765DBA;
    font-size: 24px;
    text-align: center;
}
.footer-title{
    color: #765DBA;
    font-size: 18px;
}
.footer-menu{
    color: #765DBA;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 3px;
}
.footer-menu-link{
    color: #765DBA;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}
.learn-btn{
    padding: 15px 20px;
    color: #AD543B;
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #AD543B;
    margin-top: 20px;
}
.video_section{
    position: relative;
}
.lets-heading{
    color: #765DBA;
    font-size: 52px;
    text-align: center;
}
.lets-heading .inner-content{
    font-family: "Playfair-Display-italic";
    font-style: italic;
}
.search-btn img{
    width: 20px;
}
.search-box{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 4px solid #AD543B;
    font-size: 25px;
    color: #AD543B;
}
.search-box:focus-visible{
    outline: none;
}
.search-box::placeholder{
    color: #AD543B;
}
.email-box{
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 4px solid #765DBAB2;
    font-size: 25px;
    color: #765DBA;
}
.email-box:focus-visible{
    outline: none;
}
.email-box::placeholder{
    color: #765DBA;
}
.sign-up-btn{
    background: #765DBA;
    color: #FDFBFF;
    font-size: 18px;
    padding: 21px 40px 21px 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sticky-sec img{
    max-height: 450px;
    display: flex;
    justify-content: center;
    margin: auto;
}
.img-full {
    width: 100%;
}
.about-cards {
    position: relative;
    cursor: pointer;
}
.about-cards:hover p{
    opacity: 1;
}
.about-cards p{
    color: #FDFBFF;
    position: absolute;
    bottom: 0;
    padding: 20px;
    opacity: 0;
    transition: 0.3s ease;
}
.search-menu{
    /* display: none; */
    opacity: 0;
    width: 100%;
    position: absolute;
    top: 65px;
    right: 0px;
    z-index: -1;
    background: #fff;
    padding: 20px 0;
    transform: translate(0px, -20px);
    transition: 0.5s ease-in;
    padding: 20px;
}
.search-menu h2{
    font-size: 40px;
    text-align: center;
    color: #AD543B;
}
.search-menu .inner-content{
    font-family: "Playfair-Display-italic";
    font-style: italic;
    color: #F3BD49;
}
.search-btn:focus .search-menu{
    /* display: block; */
    /* opacity: 1; */
}
.show{
    /* display: block; */
    opacity: 1;
    z-index: 1;
    transform: translate(0px, 0px);
}

header {
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: -webkit-sticky;
    position: sticky;
    top: 0; */
    background: #fff;
    z-index: 250;
    height: var(--header-height);
  }
  .header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    height: var(--header-height);
  }
  .header .menu .drawer {
    display: flex;
    height: var(--header-height);
  }
  .header .menu .drawer a {
    text-transform: capitalize;
    transition: all 0.1s linear;
    display: flex;
    align-items: center;
    padding: 0;
    color: #AD543B;
    font-size: 16px;
    position: relative;
  }
  .header .menu .drawer a:active {
    background: #e0e0e0;
  }
  .menu-btn,
  .close-btn {
    background: transparent;
    border: none;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: absolute;
    left: 11px;
    top: 8px;
    display: none;
    cursor: pointer;
  }
  .menu-btn {
    left: 3px;
  }
  .close-btn:active,
  .menu-btn:active {
    background: #f3f3f3;
  }
  .input-wrap{
    position: relative;
    margin: 20px 0;
  }
  .input-wrap span{
    position: absolute;
    right: 6px;
    font-size: 40px;
    bottom: 0px;
    cursor: pointer;
    color: #AD543B;
  }
  .img{
   height:calc(100vh - 53px);
   width:100%;
    object-fit:cover;
    display:block;
  }
  .header .menu .drawer .nav-item > a:hover::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #AD543B;
    bottom: 0;
    left: 0;
    transition: 0,3s ease;
  }
  @media (max-width: 1140px) {
    .header .menu .drawer {
      padding: 0;
    }
  }
  @media (max-width: 920px) {
    .header .menu {
      display: flex;
      position: fixed;
      top: 0;
      left: -925px;
      width: 100%;
      height: 100%;
      z-index: 300;
    }
    .header .menu .blank {
      height: 100%;
      flex: 1;
    }
    .header .menu .drawer {
      box-shadow: 2px 0 12px rgb(0 0 0 / 40%);
      padding-top: 50px;
      height: 100%;
      width: 225px;
      background: #fff;
      flex-direction: column;
      position: fixed;
      left: -240px;
      transition: all 200ms linear;
      overflow: auto;
    }
    .header .menu .drawer a {
      padding: 15px;
    }
    .menu-btn,
    .close-btn {
      display: block;
    }
    .header .logo {
      margin-left: 45px;
    }
    .drawer-visible {
      left: 0 !important;
    }
    .blur {
      background: rgba(0, 0, 0, 0.6);
      backdrop-filter: blur(15px);
      left: 0 !important;
    }
  }


@media (max-width: 767px){
    .logo{
        display: none;
    }
    .header{
        padding: 10px 0;
    }
    .search-menu h2 {
        font-size: 28px;    
    }
    .banner-text {
        width: 100%;
    }
    .banner-text h1{
        font-size: 22px;
    }
    .banner-text p{
        font-size: 14px;
    }
    .nav-menus{
        flex-direction: column;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-left: auto;
    }
    .phil-head h2 {
        font-size: 26px;
    }
    .meet-heading {
        font-size: 40px;
    }
    .Christina-content h2 {
        font-size: 30px;
    }
    .two-color-content {
        font-size: 22px;
    }
    .african-beauty-heading {
        font-size: 28px;
    }
    .story-col {
        padding: 20px;
    }
    .our-story-heading {
        font-size: 35px;
    }
    .at-heading {
        font-size: 28px;
    }
    .the54 h3 {
        font-size: 32px;
    }
    .footer-text {
        font-size: 16px;
        text-align: left;
    }
    .footer-content img{
        width: 100%;
        margin-bottom: 12px;
    }
    .footer-icon{
        width: 100px!important;
    }
    .email-box{
        margin-bottom: 20px;
    }
    .img-wrap img{
        margin-bottom: 15px;
    }
    .about-cards p {
        padding: 0 15px;
        font-size: 13px;
        opacity: 1;
    }
    .about-cards img {
        height: 100%;
        min-height: 450px;
        object-fit: cover;
    }
    .sticky-sec {
        bottom: -505px;
    }
    .footer-menu-link {
        font-size: 15px;
    }
    .footer-title {
        font-size: 17px;
    }
    .footer-menu {
        font-size: 14px;
    }
    .banner-img img{
        height: 100%;
        min-height: 500px;
        object-fit: cover;
    }
    .sm-col-rev{
        flex-direction: column-reverse;
    }
    .lets-heading {
        font-size: 36px;
        text-align: left;
    }
    .sm-order-1{
        order: 1;
    }
    .sm-order-2{
        order: 2;
    }
    .sm-order-3{
        order: 3;
    }
    .sm-order-4{
        order: 4;
    }
    .video-sec {
        height: 100%;
        min-height: 477px;
        object-fit: cover;
    }
    .african-beauty-sec img{
        max-width: 100px;
    }
    .row-gap-sm{
        row-gap: 40px;
    }
    .col-rev-sm{
        display: flex;
        flex-direction: column-reverse;
    }
}
@media (min-width: 768px) and (max-width: 820px){
    /* .banner-text {
        top: 50%;
    } */
    .banner-text h1 {
        font-size: 43px;
    }
    .phil-head h2 {
        font-size: 38px;
    }
    .img-wrap img{
        margin-bottom: 15px;
    }
    .footer-content img{
        margin-bottom: 12px;
    }
    .nav-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .Christina-content h2 {
        font-size: 36px;
    }
    .Christina-content .two-color-content {
        font-size: 18px;
    }
    .Christina-content .two-color-content .inner-content {
        font-size: 18px;
    }
    .Christina-inner-text {
        font-size: 16px;
    }
    .story-col {
        padding: 30px;
    }
    .our-story-sec .two-color-content {
        font-size: 17px;
    }
    .our-story-sec .two-color-content .inner-content {
        font-size: 17px;
    }
    .our-story-sec img{
        height: 100%;
        object-fit: cover;
    }
}
@media (max-width: 576px) {
    .col-sm-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
        .col-sm-6 {
            flex: 0 0 auto;
            width: 50%;
        }
}
@media (max-width: 820px){
    .nav-menus {
        flex-direction: column;
    }
    .mega-menu{
        top: 0px !important;
    }
}