@font-face {
  font-family: "Poppins-Regular";
  src: url("../fonts/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Poppins-Medium";
  src: url("../fonts/Poppins-Medium.ttf");
}
@font-face {
  font-family: "Playfair-Display-italic";
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf");
}
.ambasdor_section {
  background: url("../images/ambasdoor_banner.png") no-repeat top;
  background-size: cover;
  /* height: 100vh; */
  padding: 422px 0;
  position: relative;
}
.breadcrum_ambasdor {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.ambasdor_section .breadcrum_ambasdor .ambassdor_class {
  font-size: 16px;
  color: #FDFBFF;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: "Poppins-Medium";
}
.choose-cat-heading{
  line-height:104px;
}
.ambasdor_section .breadcrum_ambasdor .home {
  font-size: 16px;
  font-weight: 400;
  color: #FDFBFF;
  opacity: 0.8;
  text-transform: uppercase;
}
.ambasdor_section .breadcrum_ambasdor p {
  color: #FDFBFF;
}

.ambasdor_bottom_text .applytobe h1 {
  font-size: 120px;
  color: #FDFBFF;
  text-align: center;
   -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  line-height:120px;
  letter-spacing:-6px;
}
.ambasdor_bottom_text {
  position: absolute;
  bottom: 7%;
}
.applytobe .thrones_ambassdor {
  font-size: 134px;
  font-family: "Playfair-Display-italic";
  color: #FDFBFF;
  font-weight: 400;
  margin-top: -20px;
  line-height: 120px;
}

.ambassdor_program_text {
  text-align: center;
  color: #FDFBFF;
  font-size: 20px;
  padding: 5px 20px;
}
.ambasdor_choose {
  font-size: 90px !important;
  margin-left: 21px;
}

.ambassdor_rewards .welcome {
  font-size: 54px;
  font-family: "Playfair-Display-italic" !important;
}
.ambassdor_rewards .challenges {
  font-size: 52px;
  font-style: normal;
  font-family: "Poppins-Regular" !important;
}
.ambassdor_title {
  line-height: 60px;
}
.ambassdor_rewards .reward_image {
  position: absolute;
  top: 12%;
  left: 40%;
  transform: translate(-8%, -40%);
}
.why_join_Section {
  padding: 20px;
}
.join_section_fluid {
  padding: 120px 90px;
  background: url("../images/join_bg.png") center no-repeat;
  background-size: cover;
}
.why_join_heading {
  margin-bottom: 30px;
}
.why_join_heading h1{
line-height:115.556%
}
.why_join_heading .why {
  font-size: 90px;
  color: #765dba;
}
.why_join_heading .join {
  font-size: 96px;
  font-family: "Playfair-Display-italic";

  color: #765dba;
}

.join_section_fluid .card_text p {
  font-size: 24px;
  color: #765dba;
  font-family: "Poppins-Medium";
  margin-top: 25px;
}
.space_between {
  background-color: #FDFBFF;
  padding-top: 60px;
}
.choose_heading_Section .choose_heading .choose {
  font-size: 90px;
  color: #ad543b;
  line-height:104px;
  letter-spacing:-5px;
}
.choose_heading_Section .choose_heading .sphere {
  font-size: 96px;
  font-family: "Playfair-Display-italic";
  color: #ad543b;
  line-height: 90px;
    letter-spacing:-5px;
}
.spottie_text {
  font-size: 20px;
  color: #f3bd49;
  line-height:26px;
}
.spare_table .Spottie_text {
  font-size: 24px;
  font-weight: 500;
  color: #ad543b;
  font-family: "Poppins-Medium";
  line-height:32px;
  letter-spacing: -1px;
}
.spare_table .enthuasts {
  font-size: 16px;
  font-weight: 400;
  color: #ad543b;
  line-height: 18px;
  font-family: "Poppins-Regular" 
}
.spottie button {
  background-color: #765dba;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 2px;
  color: #FDFBFF;
  border: none;
  padding: 13px 35px;
  line-height: 30px;
}
.spare_table .table_content td {
  font-size: 20px;
  color: #ad543b;
  line-height: 36px;
  padding: 15px 10px;
  font-family: "Poppins-Medium";
}
.spare_table .table_content td.add-head-text {
  font-family: "Poppins-Regular";
}
.table {
  /* border-color: #AD543B; */
  background-color: #f6f3fa !important;
}
.table_checkbox .form-check-input {
  border-radius: 100% !important;
  color: #ca8d00;
  border: 1px solid #ca8d00;
  outline: #ca8d00;
}
.table_checkbox .form-check-input:focus {
  box-shadow: none;
}
.table_checkbox .form-check-input:checked {
  background-color: #ca8d00;
  border-color: #ca8d00!important;
}
.spare_table tr.table_content {
  border: 1px solid #e8d3d4;
  border-left: none;
  border-right: none;
}
.choose_spare_container {
  background-color: #f6f3fa;
}
.table > :not(caption) > * > * {
  padding: 0.5rem 0.5rem;
  color: var(
    --bs-table-color-state,
    var(--bs-table-color-type, var(--bs-table-color))
  );
  background-color: #f6f3fa;
}
.choose_spare_Section {
  padding: 20px;
}

.choose_spare_container {
  padding: 40px 30px;
}
.check_out_Text {
  font-size: 20px;    line-height: 26px;
  margin-top:36px;
  
}
.increase_width {
  width: 11%;
}

/* media query */
@media (max-width: 767px) {
  .ambasdor_choose {
    font-size: 34px !important;
    margin-left: 18px;
  }
  br {
    display: none !important;
  }
  .spottie_text span {
    font-size: 16px;
}
  .check_out_Text {
    font-size: 16px;
    line-height: 21px;
    margin-top: 16px;
  }
  .why_join_heading .why {
    font-size: 31px;
    font-family: "Poppins-Regular";
    color: #765dba;
  }
  .why_join_heading .join {
    font-size: 36px;
    font-family: "Playfair-Display-italic";
    color: #765dba;
  }
  .choose_heading_Section .choose_heading .choose {
    font-size: 31px;
    line-height: 35px;
    font-family: "Poppins-Regular";
    color: #ad543b;
    letter-spacing: -2px;
  }

  .choose_heading_Section .choose_heading .sphere {
    font-size: 36px;
    font-family: "Playfair-Display-italic";
    color: #ad543b;
    letter-spacing: -2px;
    line-height: 58px;
  }
.sphere{
  margin-left: 4px;
}
  .ambassdor_rewards .challenges {
    font-size: 24px;
    font-style: normal;
    font-family: "Poppins-Regular" !important;
  }
  .choose-cat-heading .choose_text {
    font-size: 31px  !important;
    line-height: 36px;
    font-family: "Poppins-Regular";
    letter-spacing: -1.55px;
}

  .choose-cat-heading .inner-heading {
    font-weight: 400;
    line-height: 36px;
    font-size: 34px;
    font-family: "Playfair-Display-italic";
    letter-spacing: -1.7px;
  }

  .ambassdor_rewards .welcome {
    font-size: 29px;
    font-family: "Playfair-Display-italic" !important;
  }
  .ambassdor_title {
    line-height: 27px;
  }
  .ambassdor_rewards .reward_image {
    position: absolute;
    width: 21%;
    top: 23%;
    left: 40%;
    transform: translate(-8%, -40%);
  }
  .applytobe .thrones_ambassdor {
    font-size: 36px;
    font-family: "Playfair-Display-italic";
    color: #FDFBFF;
    font-weight: 400;
    margin-top: -20px;
    line-height: 48px;
  }
  .ambasdor_bottom_text .applytobe h1 {
    font-size: 31px;
    color: #FDFBFF;
    text-align: center;
    font-family: "Poppins-Regular";
        -webkit-text-stroke-width: 0px; 
    -webkit-text-stroke-color: black;
    line-height: 35px;
     letter-spacing: -1px;
  }
  .ambasdor_section {
    background: url(../images/ambasdoor_banner.png) no-repeat top;
    background-size: cover;
 
    padding: 301px 0;
    position: relative;
  
  }
  .choose-cat-heading {
    line-height: 0px;
    margin-top: 20px;
}

  .ambassdor_program_text {
    text-align: center;
    color: #FDFBFF;
    font-size: 14px;
    font-family: "Poppins-Regular";
    padding: 5px 0px;
    line-height: 16px;
  }
  .increase_width {
    width: 32px;
}
.width_mobile{
  width: 32px;
}

 br {
  display: none !important;
}
.join_section_fluid {
  padding: 65px 53px;
  background: url(../images/join_bg.png) center no-repeat;
  background-size: cover;
}
  .ambasdor_bottom_text {
    position: absolute;
    bottom: 2%;
  }
  .choose_spare_Section {
    width: 100%;
    overflow-x: scroll;
    background-color: #f6f3fa;
  }
  .spottie button {
    background-color: #b39eef;
    font-size: 12px;
    padding: 13px 15px;
    line-height: normal;
    width: 131px;
  }
  .spare_table {
    width: 100%;
    background-color: #f6f3fa;

    overflow-x: scroll;
  }
  .spare_table .Spottie_text {
    font-size: 16px;
    font-weight: 600;
    font-family: "Poppins-Regular";
    color: #ad543b;
  }
  .spare_table .enthuasts {
    display: block;
    font-size: 12px;
    font-weight: 400;
  }
  .spare_table .enthuasts br {
    display: none !important;
  }
  .breadcrum_ambasdor {
    width: 100%;
  }
  .ambasdor_section .breadcrum_ambasdor .ambassdor_class {
    font-size: 14px;
  }
  .ambasdor_section .breadcrum_ambasdor .home {
    font-size: 14px;
  }
  .join_section_fluid .card_text p {
    font-size: 16px;
  }
  .spare_table .table_content td.add-head-text {
    font-size: 14px;
    line-height: 16px;
  }
  .spare_table .table_content td {
    font-size: 14px;
    line-height: 16px;
    padding: 15px 15px;
    width: 100%;
    min-width: 185px;
  }
  .choose_spare_container {
    padding: 40px 10px;
  }
  .choose_spare_Section {
    padding: 0;
  }
  .ambasdor_bottom_text .applytobe h1 {
    -webkit-text-stroke-width: 0px;
    -webkit-text-stroke-color: transparent;
    line-height: 35px;
    letter-spacing: -1px;
}
.space_between {
  background-color: #FDFBFF;
  padding-top: 2px;
}
}

@media (min-width: 768px) and (max-width: 1080px) {
  .applytobe .thrones_ambassdor {
    font-size: 78px;
    font-family: "Playfair-Display-italic";
    color: #FDFBFF;
    font-weight: 400;
    margin-top: -20px;
    line-height: 70px;
  }
  .ambasdor_section {
    background: url(../images/ambassador-tab-banner.png) no-repeat center;
    padding: 585px 0;
}
.ambassdor_program_text {
  font-size: 16px;
}
  .ambasdor_bottom_text .applytobe h1 {
    font-size: 72px;
    color: #FDFBFF;
    text-align: center;
    font-family: "Poppins-Regular";
    line-height: 80px;
  }
  .ambasdor_bottom_text .applytobe h1 {
    -webkit-text-stroke-width: 0;
    -webkit-text-stroke-color: transparent;
}
.join_section_fluid {
  padding: 120px 20px;
}
.space_between {
  padding-top: 5px;
}
.why_join_heading {
  margin-bottom: 88px;
}
  .ambasdor_bottom_text {
    position: absolute;
    bottom: 7%;
  }
  .ambasdor_choose {
    font-size: 72px !important;
    margin-left: 21px;
  }
  .choose-cat-heading .inner-heading {
    font-size: 78px !important;
  }

  .choose_heading_Section .choose_heading .choose {
    font-size: 72px;
    font-family: "Poppins-Regular";
    color: #ad543b;
  }
  .choose_heading_Section .choose_heading .sphere {
    font-size: 78px;
    font-family: "Playfair-Display-italic";
    color: #ad543b;
    line-height: 85px;
  }
  .increase_width {
    width: 23%;
  }
  .join_section_fluid .card_text p {
    font-size: 22px;
    margin-top: 26px;
    letter-spacing: -1px;
  }
  .spottie_text span{
    font-size: 16px;
}
  .join_section_fluid .card_text p br {
    display: none !important;
  }
  .breadcrum_ambasdor {
    margin-top: 10px;
  }

  .spare_table .Spottie_text {
    font-size: 22px;
    font-family: "Poppins-Medium";
    color: #ad543b;
  }
  .spare_table .enthuasts {
    font-size: 14px;
    font-weight: 400;
    color: #ad543b;
  }
  .spottie button {
    background-color: #765dba;
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Poppins-Regular";
    color: #FDFBFF;
    border: none;
    padding: 13px 18px;
  }
  .why_join_heading .why {
    font-size: 72px;
  }
  .why_join_heading .join {
    font-size: 78px;
  }
  .check_out_Text {
    font-size: 16px;
  }
  .spare_table .table_content td {
    font-size: 16px;
  }
  .choose_spare_container {
    padding: 40px 13px;
  }
}
