.banner-text {
  top: 60%;
  width: 100%;
  z-index: 1;
  max-width: 86%;
}
.banner-text h1 {
  font-size: 120px;
  color: #fdfbff;
  font-family: "Poppins-Regular";
}
.banner-text .inner-heading {
  font-size: 134px;
  font-family: "Playfair-Display-italic";
}
.we-look-heading {
  font-size: 52px;
  color: #ad543b;
}
.we-look-heading .inner-heading {
  font-size: 54px;
  font-family: "Playfair-Display-italic";
  background: -webkit-linear-gradient(#f3bd49, #d48c37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.we-look-content .text-indent {
  text-indent: 90px;
}
.we-look-content p {
  color: #ad543b;
  font-size: 20px;
}
.fw-500 {
  font-family: "Poppins-Medium";
}
.how-does-heading {
  font-size: 52px;
  color: #ad543b;
}
.how-does-heading .inner-heading {
  font-size: 54px;
  font-family: "Playfair-Display-italic";
  background: -webkit-linear-gradient(#f3bd49, #d48c37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.african-beauty-orig-sec {
  background: url("../images/african-bg.png") no-repeat;
  background-size: cover;
  background-color: #f6f3fa;
  padding: 120px 0;
}
.african-beauty-heading {
  font-size: 90px;
  color: #ad543b;
}
.african-beauty-heading .inner-heading {
  font-size: 96px;
  font-family: "Playfair-Display-italic";
  background: -webkit-linear-gradient(#f3bd49, #d48c37);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.african_root {
  position: relative;
}
.african_root .after_image {
  position: absolute;
  top: 39%;
  left: 4%;
  transform: translate(-50%, -50%);
}
.african_map {
  position: relative;
}

.image_with_text .kigelia_text {
  font-size: 24px;
  font-size: 24px;
  width: 62%;
  color: #ad543b;
  font-weight: 500;
}

.inner_content p {
  color: #ad543b;
  font-size: 16px;
}
.map_content .inner_content .image_with_text {
  display: flex;
  justify-content: space-between;
}
.flowerList {
  display: none;
}
.kenya-icon{
  position: absolute;
  right: 17%;
  top: 48%;
  cursor: pointer;
}
.kenya-content {
  top: 33%;
  left: 81%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.kenya-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.kenya-icon-content-wrap:hover .kenya-content{
  display: block;
}
.south-africa-icon{
  position: absolute;
  right: 39%;
  bottom: 3%;
  cursor: pointer;
}
.south-africa-content {
  bottom: -3%;
  right: 10%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.south-africa-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.south-africa-icon-content-wrap:hover .south-africa-content{
  display: block;
}

.morocco-icon{
  position: absolute;
  left: 17%;
  top: 4%;
  cursor: pointer;
}
.morocco-content {
  top: -10%;
  left: 19%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.morocco-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.morocco-icon-content-wrap:hover .morocco-content{
  display: block;
}

.egypt-icon{
  position: absolute;
  right: 31%;
  top: 12%;
  cursor: pointer;
}
.egypt-content {
  top: -3%;
  right: 0%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.egypt-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.egypt-icon-content-wrap:hover .egypt-content{
  display: block;
}

.ghana-icon{
  position: absolute;
  left: 22%;
  top: 38%;
  cursor: pointer;
}
.ghana-content {
  top: 24%;
  left: 23%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.ghana-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.ghana-icon-content-wrap:hover .ghana-content{
  display: block;
}

.nigeria-icon{
  position: absolute;
  left: 34%;
  top: 35%;
  cursor: pointer;
}
.nigeria-content {
  top: 21%;
  left: 36%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.nigeria-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.nigeria-icon-content-wrap:hover .nigeria-content{
  display: block;
}

.uganda-icon{
  position: absolute;
  right: 24.5%;
  top: 47.5%;
  cursor: pointer;
}
.uganda-content {
  top: 34%;
  right: -6%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 33%;
  background-color: white;
  padding: 25px;
  display: none;
}

.uganda-content::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 49%;
  margin-left: -12px;
  border-width: 20px;
  border-style: solid;
  border-color: rgb(255, 255, 255) transparent transparent transparent;
}
.uganda-icon-content-wrap:hover .uganda-content{
  display: block;
}


@media (max-width: 767px) {
  .banner-text .inner-heading {
    font-size: 36px;
  }
  .banner-text h1 {
    font-size: 31px;
  }
  .we-look-heading {
    font-size: 31px;
    line-height: 36px;
    letter-spacing: -0.5px;
    margin-bottom: 20px;
  }
  .we-look-heading .inner-heading {
    font-size: 36px;
    font-weight: 400;
  }
  .african-beauty-heading {
    font-size: 31px;
    line-height: 35px;
    letter-spacing: -0.5px;
  }
  .african-beauty-heading .inner-heading {
    font-size: 36px;
  }
  .how-does-heading {
    font-size: 31px;
    line-height: 35px;
    letter-spacing: -0.5px;
    padding-bottom: 15px;
  }
  .how-does-heading .inner-heading {
    font-size: 36px;
    font-weight: 400;
  }
  .we-look-content p {
    color: #ad543b;
    font-size: 16px;
  }
  .we-look-content .the_idea {
    font-size: 14px;
    line-height: 19px;
  }
  .african_root .after_image {
    display: none;
  }
  .map_content {
    display: none;
  }

  element.style {
    display: block;
  }

  .inner_content p {
    color: #ad543b;
    font-size: 14px;
  }
  .image_with_text .kigelia_text {
    font-size: 24px;
    font-size: 16px;
  }
  .map_content {
    top: 34%;
    left: 51%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    background-color: white;
    padding: 25px;
  }
  .map_content .inner_content .image_with_text {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    flex-direction: column-reverse;
  }
  .african-beauty-orig-sec {
    padding: 48px 0;
  }
  .flowerList .list_items {
    text-decoration: underline;
    color: #765dba;
    font-size: 14px;
    margin-bottom: 7px;
  }
  .flowerList {
    display: block;
  }
  .bredcrum p{
    font-size: 14px;
    line-height: 19.14px;
  }
  .we-look-content .fw-500{
    line-height: 20px;
    letter-spacing: -0.5px;
    padding-bottom: 20px;
  }
  .we-look-content .text-indent {
    text-indent: 60px;
}
.the-level-text{
    padding-bottom: 20px;
}
.sm-col-rev {
    flex-direction: column-reverse;
    padding: 30px 0;
}
.story-col{
    padding-top: 50px;
}
.Christina-inner-text {
    font-size: 14px;
    padding-bottom: 5px;
    line-height: 16px;
    letter-spacing: -0.3px;
}
}

@media (min-width:768px) and (max-width:820px){
    .banner-text h1 {
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -0.5px;
    }
    .banner-text .inner-heading {
        font-size: 78px;
    }
    .sm-col-rev{
        flex-direction: row-reverse;
    }
    .african_root .after_image {
        display: none;
    }
    .we-look-content p {
        font-size: 16px;
    }
    .african-beauty-heading {
        font-size: 72px;
        line-height: 80px;
        letter-spacing: -0.5px;
    }
    .african-beauty-heading .inner-heading {
        font-size: 78px;
    }
    .map_content {
        top: 23%;
        left: 78%;
        width: 53%;
    }
    .african_root img{
        object-fit: cover;
    }
    .banner-img img{
        min-height: 750px;
        object-fit: cover;
    }
}