
@font-face {
	font-family: 'Poppins-Regular';
	src: url('../fonts/Poppins-Regular.ttf');

	
}
@font-face {
	font-family: 'Poppins-Medium';
	src: url('../fonts/Poppins-Medium.ttf');

	
}
@font-face {
	font-family: 'Playfair-Display-italic';
	src:url('../fonts/Playfair_Display/PlayfairDisplay-Italic-VariableFont_wght.ttf')
}

.rewards_section {
	background: url("../images/reward-banner.png") no-repeat center;
	background-size: cover;
	/* height: 100vh; */
	padding: 422px 0;
	position: relative;
  }
  .reward-banner-btns{
	display: flex;
	column-gap: 20px;
	justify-content: center;
	align-items: center;
	padding: 25px 0;
  }
  .reward-log-in-btn{
	text-decoration: none;
	background: #B39EEF;
	padding: 20px 60px;
	font-size: 18px;
	color: #FDFBFF;
	font-family: "Poppins-Medium";
  }
  .reward-shop-btn{
	text-decoration: none;
	border: 1px solid #FDFBFF;
	padding: 20px 40px;
	font-size: 18px;
	color: #FDFBFF;
	font-family: "Poppins-Medium";
  }
  .breadcrum_ambasdor {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
  }
  .rewards_section .breadcrum_ambasdor .ambassdor_class {
	font-size: 16px;
	color: white;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: "Poppins-Medium";
  }
  .rewards_section .breadcrum_ambasdor .home {
	font-size: 16px;
	font-weight: 400;
	color: white;
	opacity: 0.8;
	text-transform: uppercase;
  }
  .rewards_section .breadcrum_ambasdor p {
	color: white;
  }
  
  .ambasdor_bottom_text .applytobe h1 {
	font-size: 120px;
	color: white;
	text-align: center;
  }
  .ambasdor_bottom_text {
	position: absolute;
	bottom: 7%;
  }
  .applytobe .thrones_ambassdor {
	font-size: 134px;
	font-family: "Playfair-Display-italic";
	color: white;
	font-weight: 400;
	margin-top: -20px;
	line-height: 120px;
  }
  
  .ambassdor_program_text {
	text-align: center;
	color: white;
	font-size: 20px;
	padding: 5px 20px;
  }
  .ambasdor_choose {
	font-size: 90px !important;
	margin-left: 21px;
  }
  
  .ambassdor_rewards .welcome {
	font-size: 54px;
	font-family: "Playfair-Display-italic" !important;
  }
  .ambassdor_rewards .challenges {
	font-size: 52px;
	font-style: normal;
	font-family: "Poppins-Regular" !important;
  }
  .ambassdor_title {
	line-height: 60px;
  }
  .ambassdor_rewards .reward_image {
	position: absolute;
	top: 12%;
	left: 40%;
	transform: translate(-8%, -40%);
  }
  .why_join_Section {
	padding: 20px;
  }
  .join_section_fluid {
	padding: 120px 20px;
	background: url("../images/join_bg.png") center no-repeat;
	background-size: cover;
  }
  .spare_table .bouncy_text {
	font-size: 54px;
	color: #ad543b;
	font-family: "Playfair-Display-italic";
	font-weight: 400;
  }
  .spare_table .sepend-text {
	font-size: 20px;
	font-weight: 400;
	color: #CA8D00;
  }
  .spottie button {
	background-color: #765dba;
	text-transform: uppercase;
	font-size: 18px;
	color: white;
	border: none;
	padding: 13px 35px;
	line-height: 30px;
  }
  .spare_table .table_content td {
	font-size: 20px;
	color: #ad543b;
	line-height: 36px;
	padding: 15px 10px;
	font-family: "Poppins-Medium";
  }
  .spare_table .table_content td .td-yellow-text {
	font-size: 20px;
	color: #CA8D00;
	font-family: "Poppins-Regular";
  }
  .spare_table .table_content td.add-head-text {
	font-family: "Poppins-Regular";
  }
  .table {
	/* border-color: #AD543B; */
	background-color: #f6f3fa !important;
  }
  .table_checkbox .form-check-input {
	border-radius: 100% !important;
	color: #ad543b;
	border: 1px solid #ad543b;
	outline: #ad543b;
  }
  .table_checkbox .form-check-input:focus {
	box-shadow: none;
  }
  .table_checkbox .form-check-input:checked {
	background-color: #ca8d00;
	border-color: #ca8d00!important;
  }
  .spare_table tr.table_content {
	border: 1px solid #e8d3d4;
	border-left: none;
	border-right: none;
  }
  .choose_spare_container {
	background-color: #f6f3fa;
  }
  .table > :not(caption) > * > * {
	padding: 0.5rem 0.5rem;
	color: var(
	  --bs-table-color-state,
	  var(--bs-table-color-type, var(--bs-table-color))
	);
	background-color: #f6f3fa;
  }
  .choose_spare_Section {
	padding: 20px;
  }
  
  .choose_spare_container {
	padding: 40px 30px;
  }
  .check_out_Text {
	font-size: 20px;
  }
  .increase_width {
	width: 11%;
  }
  .get-inner-text-wrap{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
  }
  .get-15-heading{
	font-size: 90px;
	color: #AD543B;
  }
  .get-15-heading .inner-heading{
	font-size: 96px;
	line-height: 90px;
	font-family: "Playfair-Display-italic";
    background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .beca-text{
	font-size: 24px;
	line-height: 32px;
	font-family: "Poppins-Medium";
	background: -webkit-linear-gradient(#F3BD49, #D48C37);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .faq-acc-heading{
	font-size: 90px;
	line-height: 104px;
	color: #765DBA;
	margin-bottom: 30px;
  }
  .please-log-text{
	font-size: 20px;
	color: #CA8D00;
  }
  .please-log-text a{
	color: #CA8D00;
  }
.accordion-faq .accordion-item{
	background: transparent;
	color: #765DBA;
	border: none;
	border-bottom: 1px solid #8c7abc42;
	border-radius: 0;
	text-align: left;
}
.accordion-faq .accordion-button{
	background: transparent;
	color: #765DBA;
	font-size: 24px;
	line-height: 32px;
	font-family: "Poppins-Medium";
	padding-left: 0;
}
.accordion-faq .accordion-button:focus{
	box-shadow: none;
}
.accordion-faq .accordion-body{
	padding-left: 0;
}
.accordion-faq .accordion-body p{
	font-size: 20px;
	line-height: 26px;
}
.accordion-faq .accordion-button::after {
    background: url(../images/Vectorplus.png) no-repeat right center;
    background-size: 12px;
}
.accordion-faq .accordion-button:not(.collapsed)::after {
    background: url(../images/Vectorminus.png) no-repeat right center;
    background-size: 12px;
}
.how_heading .how{
    font-family: 'Playfair-Display-italic';
    font-size: 96px;
    color: brown;
}
.how_heading .to_earn{
    font-size: 90px;
    color:  brown;
    font-family: "Poppins-Regular";
}
.how_heading p{
    font-size: 20px;
    color: #AD543B;
    font-family: "Poppins-Regular";
}
.right_earn .join_bg{
    background: url('../images/plus.png') no-repeat left;
}
.celeb_bg{
    background: url('../images/cart_earn.png') no-repeat left;
    opacity: .6;
}
.face_bg{
    background: url('../images/faceboook.png') no-repeat left;
    opacity: .6;
}
.insta_bg{
    background: url('../images/instagram.png') no-repeat left;
    opacity: .6;
}
.leave_bg{
    background: url('../images/like.png') no-repeat left;
    opacity: .6;
}
.gift_bg{
    background: url('../images/gift.png') no-repeat left;
    opacity: .6;
}
.gift_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.gift_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.join_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.join_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.celeb_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.celeb_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.face_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.face_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.insta_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.insta_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.leave_bg h3{
    font-size: 24px;
    color: #AD543B;
}
.leave_bg p{
    font-size: 16px;
    color: #ca8d00;
}
.earn_btn button{
    color: #AD543B;
    border: none;
    font-size: 18px;
    text-transform: uppercase;
    padding: 14px 30px;
    border: 1px solid #AD543B;
}
.Leave_review {
	color: #AD543B;
	padding: 20px;
}
.Leave_review h1{
	font-size: 52px;
	font-family: "Poppins-Regular";
	
}

.modal-dialog-centered{
	max-width: 800px !important;
	width: 700px !important;
	padding: 20px 30px;
}
.shop_btn{
	background-color: #B39EEF;
	width: 100%;
	font-size: 18px;
	font-family: "Poppins-Regular";
	border: none;
	color: white;
	padding: 15px;
}
  /* media query */
@media (max-width: 767px) {
.join_the_club{
    margin-top: 20px;
    margin-bottom: 20px;
}
    .gift_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .gift_bg p{
        font-size: 12px;
        color: #ca8d00;
    }
    .join_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .join_bg p{
        font-size: 12px;
        color: #ca8d00;
    }
    .celeb_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .celeb_bg p{
        font-size: 12px;
        color: #ca8d00;
    }
    .face_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .face_bg p{
        font-size: 12px;
        color: #ca8d00;
    }
    .insta_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .insta_bg p{
        font-size: 12px;
        color: #ca8d00;
    }
    .leave_bg h3{
        font-size: 16px;
        color: #AD543B;
    }
    .leave_bg p{
        font-size: 12px;
        color: #ca8d00;
    }

    .how_earn_Section{
        margin-top: 40px;
    }
    .join_the_club{
        display: block !important;
    }
    .earn_btn button{
        width: 90%;
        font-size: 12px;
    }
    .earn_btn{
        text-align: center;
    }
    .image_section_earn{
        display: none;
    }
    .how_heading{
        text-align: center;
    }
    .how_heading .to_earn {
        font-size: 38px;
        color: brown;
        font-family: "Poppins-Regular";
    }
    .how_heading .how {
        font-family: 'Playfair-Display-italic';
        font-size: 41px;
        color: brown;
    }
	.rewards_section {
		background: url('../images/reward-mob-banner.png') no-repeat center;
		background-size: cover;
		padding: 335px 0;
		position: relative;
	}
	.ambasdor_choose {
	  font-size: 34px !important;
	  margin-left: 18px;
	}
	br {
	  display: none !important;
	}
	.check_out_Text {
	  font-size: 17px;
	}
	.why_join_heading .why {
	  font-size: 43px;
	  font-family: "Poppins-Regular";
	  color: #765dba;
	}
	.why_join_heading .join {
	  font-size: 43px;
	  font-family: "Playfair-Display-italic";
	  color: #765dba;
	}
  
  
	.ambassdor_rewards .challenges {
	  font-size: 24px;
	  font-style: normal;
	  font-family: "Poppins-Regular" !important;
	}
	.ambassdor_rewards .welcome {
	  font-size: 29px;
	  font-family: "Playfair-Display-italic" !important;
	}
	.ambassdor_title {
	  line-height: 27px;
	}
	.ambassdor_rewards .reward_image {
	  position: absolute;
	  width: 21%;
	  top: 23%;
	  left: 40%;
	  transform: translate(-8%, -40%);
	}
	.applytobe .thrones_ambassdor {
	  font-size: 36px;
	  font-family: "Playfair-Display-italic";
	  color: white;
	  font-weight: 400;
	  margin-top: -20px;
	  line-height: 48px;
	}
	.ambasdor_bottom_text .applytobe h1 {
	  font-size: 31px;
	  color: white;
	  text-align: center;
	  font-family: "Poppins-Regular";
	}
	.ambassdor_program_text {
	  text-align: center;
	  color: white;
	  font-size: 16px;
	  font-family: "Poppins-Regular";
	  padding: 5px 0px;
	}
	.ambasdor_bottom_text {
	  position: absolute;
	  bottom: 2%;
	}
	.choose_spare_Section {
	  width: 100%;
	  overflow-x: scroll;
	  background-color: #f6f3fa;
	}
	.spottie button {
	  background-color: #b39eef;
	  font-size: 12px;
	  padding: 13px 15px;
	  line-height: normal;
	  width: 131px;
	}
	.spare_table {
	  width: 100%;
	  background-color: #f6f3fa;
  
	  overflow-x: scroll;
	}
	.spare_table .Spottie_text {
	  font-size: 16px;
	  font-weight: 600;
	  font-family: "Poppins-Regular";
	  color: #ad543b;
	}
	.spare_table .enthuasts {
	  display: block;
	  font-size: 12px;
	  font-weight: 400;
	}
	.spare_table .enthuasts br {
	  display: none !important;
	}
	.breadcrum_ambasdor {
	  width: 100%;
	}
	.ambasdor_section .breadcrum_ambasdor .ambassdor_class {
	  font-size: 14px;
	}
	.ambasdor_section .breadcrum_ambasdor .home {
	  font-size: 14px;
	}
	.join_section_fluid .card_text p {
	  font-size: 16px;
	}
	.spare_table .table_content td.add-head-text {
	  font-size: 14px;
	  line-height: 16px;
	}
	.spare_table .table_content td {
	  font-size: 14px;
	  line-height: 16px;
	  padding: 15px 15px;
	  width: 100%;
	  min-width: 185px;
	}
	.choose_spare_container {
	  padding: 40px 10px;
	}
	.choose_spare_Section {
	  padding: 0;
	}
	.spare_table .table_content td .td-yellow-text {
		font-size: 14px;
	}
	.spare_table .bouncy_text {
		font-size: 29px;
	}
	.spare_table .sepend-text {
		font-size: 14px;
	}
	.get-15-heading {
		font-size: 31px;
	}
	.get-15-heading .inner-heading {
		font-size: 36px;
		line-height: 40px;
	}
	.beca-text {
		font-size: 16px;
		line-height: 20px;
	}
	.faq-acc-heading {
		font-size: 31px;
		line-height: 36px;
	}
	.accordion-faq .accordion-button {
		font-size: 16px;
		line-height: 20px;
	}
	.accordion-faq .accordion-body p {
		font-size: 14px;
		line-height: 16px;
	}
	.reward-banner-btns {
		column-gap: 15px;
		justify-content: space-between;
	}
	.reward-banner-btns p{
		width: 100%;
	}
	.reward-log-in-btn {
		padding: 20px 37px;
		display: block;
		text-align: center;
		font-size: 12px;
	}
	.reward-shop-btn {
		padding: 20px 24px;
		font-size: 12px;
		display: block;
		text-align: center;
	}
	.faq-row{
		flex-direction: column-reverse;
	}
  }

  @media (min-width: 768px) and (max-width: 820px){
    .right_earn .join_bg{
        background: url('../images/plus.png') no-repeat left;
        background-size: 16%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
    .celeb_bg{
        background: url('../images/cart_earn.png') no-repeat left;
        opacity: .6;
        background-size: 13%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
    .face_bg{
        background: url('../images/faceboook.png') no-repeat left;
        opacity: .6;
        background-size: 12%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
    .insta_bg{
        background: url('../images/instagram.png') no-repeat left;
        opacity: .6;
        background-size: 11%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
    .right_earn{
        margin-top: 70px;
    }
    .our-story-heading br{
        display: none !important;

    }
    .card-product-name {
        color: #AD543B;
        font-size: 17px;
        font-family: 'Poppins-Medium';
    }
    .how_heading p {
        font-size: 16px;
        color: #AD543B;
        font-family: "Poppins-Regular";}
    .leave_bg{
        background: url('../images/like.png') no-repeat left;
        opacity: .6;
        background-size: 13%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
    .gift_bg{
        background: url('../images/gift.png') no-repeat left;
        opacity: .6;
        background-size: 12%;
        background-position-y: 8px;
        background-position-x: 6px;
    }
 
    .gift_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .gift_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .join_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .join_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .celeb_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .celeb_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .face_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .face_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .insta_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .insta_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .leave_bg h3{
        font-size: 22px;
        color: #AD543B;
    }
    .leave_bg p{
        font-size: 14px;
        color: #ca8d00;
    }
    .ambassdor_program_text {
        text-align: center;
        color: white;
        font-size: 16px;
        padding: 5px 20px;
    }
    .reward-shop-btn {
        text-decoration: none;
        border: 1px solid #FDFBFF;
        padding: 20px 40px;
        font-size: 16px;
    }
    .earn_btn button {
        color: #AD543B;
        border: none;
        font-size: 16px;
        text-transform: uppercase;
        padding: 14px 30px;
        border: 1px solid #AD543B;
    }
    .how_heading .to_earn {
        font-size: 72px;
        color: brown;
        font-family: "Poppins-Regular";
    }
    .how_heading{
        text-align: center;
    }
    .image_section_earn{
        display: none;
    }
    .how_heading .how {
        font-family: 'Playfair-Display-italic';
        font-size: 78px;
        color: brown;
    
    }
    .reward-log-in-btn {
        text-decoration: none;
        background: #B39EEF;
        padding: 20px 60px;
        font-size: 16px;
        color: #FDFBFF;
        font-family: "Poppins-Medium";
    }
	.ambasdor_bottom_text .applytobe h1 {
		font-size: 72px;
	}
	.applytobe .thrones_ambassdor {
		font-size: 78px;
		line-height: 80px;
	}
	.please-log-text {
		font-size: 18px;
	}
	.bouncy-sec .choose_spare_container {
		padding: 40px 10px;
	}
	.bouncy-sec .spare_table .table_content td {
		font-size: 16px;
		line-height: 20px;
	}
	.spare_table .table_content td .td-yellow-text {
		font-size: 16px;
	}
	.spare_table .sepend-text {
		font-size: 16px;
	}
	.get-15-heading {
		font-size: 72px;
	}
	.get-15-heading .inner-heading {
		font-size: 72px;
		line-height: 80px;
	}
	.beca-text {
		font-size: 22px;
		line-height: 26px;
	}
	.faq-acc-heading {
		font-size: 72px;
		line-height: 80px;
	}
	.faq-row{
		flex-direction: column-reverse;
	}
  }